@import "tailwindcss";

@theme {
  --color-foreground: rgb(242, 243, 245);
  --color-background: rgb(31, 0, 43);

  --color-quiz-pink: #e4229c;
  --color-quiz-purple: #36173d;
  --color-quiz-purple-dark: #3d2842;
  --color-quiz-purple-light: #460741;

  --font-display: var(--font-niconne);
  --font-nunito: var(--font-nunito-sans);
  --font-albert: var(--font-albert-sans);
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-albert-sans), Arial, Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 1000px #36173D inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
    background-clip: content-box !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.font-nunito {
  font-family: var(--font-nunito), ui-sans-serif, system-ui, sans-serif;
}

.font-albert {
  font-family: var(--font-albert), ui-sans-serif, system-ui, sans-serif;
}
