@import "tailwindcss";

@theme {
  --color-foreground: rgb(242, 243, 245);
  --color-background: rgb(31, 0, 43);

  --color-quiz-pink: #e4229c;
  --color-quiz-purple: #36173d;
  --color-quiz-purple-dark: #3d2842;
  --color-quiz-purple-light: #460741;
}

:root {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
